/PHP/vendor
/ESLint/node_modules
/ESLint/1/node_modules
/DotNet/dotnetStudy/CoreConsoleApp/obj
/DotNet/dotnetStudy/CoreWebApp/bin
/DotNet/dotnetStudy/CoreWebApp/obj
/VSCode/TypeScript工作区/node_modules
/DotNet/NuGetStudySolution/ClassStandardLibrary/bin
obj
bin
packages
/WebPackStudy/node_modules
node_modules
dist
/PHP/composer.lock
/WebPackStudy/联合babel使用/package-lock.json
